<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello Spring Boot</h1>

<!--
    - Trong thẻ form khi click vào submit thì chương trình sẻ thực thi đường dẫn quy định ở thuộc tính action trong thẻ form.
    - name : Trong input chính là tên tham số
-->
    <form action="http://localhost:9090/hello/welcome" method="post">
        <input type="text" placeholder="ten dang nhap" name="tendangnhap"/><br/>
        <input type="password" placeholder="mat khau" name="matkhau"/><br/>
        <input type="submit" placeholder="LOGIN"/>
    </form>

</body>
</html>